
.layout {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: fit-content;
    background-color: white;
    color: #001E62;
    border: none;
    border-radius: 3rem;
    padding: 1rem;
    gap: 0rem;
    margin: 5rem;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 0rem;
    width: 88%;
}

/* FLAMES FARE */
.flamesFare {
    background-color: #001E62;
    color: #D50032;
    border-radius: 10rem;
    padding: 1rem;
    font-size: larger;
    font-weight: 700;
}

/* STUDENT DISCOUNT */
.studentDiscount {
    background-color: #D50032;
    color: #FFBF3F;
    border-radius: 10rem;
    padding: 1rem;
    font-size: larger;
    font-weight: 700;
}

/* TOUCH EVENTS */
.touchEventButton {
    background-color: transparent;
}