
.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    height: fit-content;
    background-color: aliceblue;
    border: none;
    border-radius: 5rem;
    padding: 1rem;
    gap: 0rem;
    margin: 5rem;
    
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 0rem;
    width: 88%;
}

/* FLAMES FARE */
.flamesFare {
    background-color: #D9D9D9;
    border-radius: 10rem;
    padding: 1rem;
}